:host {
    display: block;
    font-family: 'montserrat', sans-serif;
    color: white;
    background-color: #0D1821;
}

/* SECTIONS COMMON */
section {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services {
  background-image: url('/assets/images/astronauta.png');
  background-size: cover;       /* hace que la imagen cubra todo el área */
  background-position: center;  /* centra la imagen */
  background-repeat: no-repeat; /* evita que se repita */
  height: 200vh;                /* ocupa toda la altura de la pantalla */
}

/* logo de t3sti */
.hero-logo-large {
    position: absolute;
    top: -25%;
    left: -5%;
}


.shield-logo-hero-placeholder {
    width: 400px;
    height: 800px;
}

.logo-giro {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(-90deg) scale(0.9);
}

.hero-bottom-right {
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

/* Boton de centro de pensamiento */
.btn-centro-container {
    position: absolute;
    top: 2rem;
    right: 6rem;
    z-index: 100;
}

.btn-centro {
    display: inline-block;
    padding: 1rem 1rem;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.btn-centro:hover {
    background-color: #ffcc00;
    color: #ffffff;
    text-decoration: none;
}

.strategy-text {
    text-align: center;
    color: #828282;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 4px;
}

.complex {
    color: #D9D9D9;
}

/* IDENTITY SECTION */
/* Caja contenedora */
.identity-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

/* Identity izq */
.identity-izq {
   flex: 0 0 80%;
}

/* Bloque contenido dinámico */
.ctn-identity-clase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    transition: opacity 0.4s ease;
}

/* Título */
.ctn-identity-clase h2 {
    font-size: 3rem;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    letter-spacing: 1px;
    text-decoration: underline;
}

/* Texto */
.ctn-identity-clase p {
    font-size: 2rem;
    line-height: 1.7;
    color: #828282;
    margin: 0;
    text-align: left;
    max-width: 600px;
    white-space: pre-line; /* para respetar saltos de línea */
}

.logo-t3sti-clase {
    display: inline-block;
    max-width: fit-content;
    max-height: fit-content;
    padding: 0;
    margin: 0;
}

.logo-t3sti-clase img {
  max-width: 100%; /* ajusta el tamaño del logo */
  height: auto;
  transition: opacity 0.4s ease;
}


/* Identity der */
.identity-der {
    flex: 0 0 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.lapiz-container {
    position: relative;
    display: inline-block;
}

.lapiz-base {
    display: block;
    max-width: 300px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    opacity: 0.3; /* Hace que la imagen base sea opaca */
}

/* Hoover corona-lineas-punta */
.corona {
    position: absolute;
    top: 17px;
    left: 15%;
    width: 70%;
    height: 40%;
    cursor: pointer;
    /* background: rgba(255, 255, 255, 0.2); */
}

.lineas {
    position: absolute;
    top: 237px;
    left: 15%;
    width: 70%;
    height: 13%;
    cursor: pointer;
    /* background: rgba(255, 255, 255, 0.2); */
}

.punta {
    position: absolute;
    bottom: 6px;
    left: 15%;
    width: 70%;
    height: 40%;
    cursor: pointer;
   /* background: rgba(255, 255, 255, 0.2); */
}

.highlights {
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.corona:hover  .highlights,
.lineas:hover  .highlights,
.punta:hover  .highlights {
    opacity: 1;
}

/* TEAM SECTION */
.team-section {
    background: #fff;
    color: #000;
    padding: 4rem 0;
    background-image: radial-gradient(#e0e0e0 1px, transparent 1px);
    background-size: 30px 30px;
}

.section-title {
    font-size: 3rem;
    color: #A48859;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #A48859;
    text-underline-offset: 10px;
}

.team-grid {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    width: 300px;
    position: relative;
}

.member-photo-circle {
    width: 250px;
    height: auto;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 auto 2rem;
    overflow: hidden;
    border: 5px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-gold {
  border: 2px solid #A48859;
  border-radius: 30px;
  background: #A48859;
  padding: 3px;
  margin-top: 3rem;
}

button,
.btn-gold {
    cursor: pointer;
}

.team-member h3 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}

.team-member p {
    font-size: 1rem;
    color: #828282;
    font-family: "Averia Serif Libre", serif;
}

.member-info-overlay p {
    margin-top: rem;
}

.member-info-overlay {
    position: absolute;
    top: 0;
    left: 25px;
    width: 250px;
    height: 244px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 20px;
}

.member-photo-circle:hover+.member-info-overlay,
.member-info-overlay:hover {
    opacity: 1;
}


/* Recuadro info doctores */
.modal-slide-up {
  position: fixed;
  height: 92vh;
  border-radius: 20px 20px 0 0;
  bottom: 0;
  width: 80%;
  background: #fff;
  box-shadow: 0 -4px 20px rgba(0,0,0,0.3);
  padding: 5rem;
  z-index: 1000;
  animation: slideUp 0.4s ease-out;
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);   /* oscurece la pantalla */
  display: flex;
  justify-content: center;
  align-items: flex-end;         /* recuadro desde abajo */
  z-index: 998;                  /* debajo del modal */
}

body.modal-open {
  overflow: hidden;              /* bloquea scroll */
}

.modal-contenido {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.modal-texto {
  flex: 1;
  color: #333;
}

.modal-texto h2 {
  margin: 0;
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.modal-texto p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0;
  font-family: Averia Serif Libre, serif;
  color: #828282;
}

.perfil-texto {
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1.5;
  white-space: pre-line;
}

.modal-imagen img {
  max-width: 500px;
  height: auto;
}

.cerrar-x {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 3rem;
}



/* AREAS SECTION */
.areas-header {
    width: 100%;
    background: #e8e8e8;
    padding: 1.5rem;
    text-align: center;
}

.areas-header p {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.areas-header span {
    color: #cda476;
    font-family: serif;
    font-style: italic;
}

.areas-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.areas-content h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.areas-slider {
    display: flex;
    align-items: center;
    gap: 3rem;
}



.arrow-btn:hover {
    color: #fff;
}

.bubble {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.bubble:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.3);
}

.bubble:nth-child(1) {
    top: 15%;
    left: 20%;
}

.bubble:nth-child(2) {
    top: 15%;
    right: 20%;
}

.bubble:nth-child(3) {
    top: 40%;
    left: 10%;
}

.bubble:nth-child(4) {
    display: none;
}

.bubble:nth-child(5) {
    top: 40%;
    right: 10%;
}

.bubble:nth-child(6) {
    bottom: 15%;
    left: 20%;
}

.bubble:nth-child(7) {
    bottom: 15%;
    right: 20%;
}


/* Gifs como fondos de sección */
.hero-section{
    background-image: url('/assets/images/monje_fondo.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* .team-section {
    background-image: url('/assets/images/nodos-editable.gif');
    background-size: cover;
    background-position: center -250px;
    background-repeat: no-repeat;
    height: 100vh;
} */

.team-section {
    background-image: url('/assets/images/nodos-fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
