
<main>

  <!-- HERO SECTION -->
  <section id="hero" class="hero-section">

  <div class="btn-centro-container">
    <a routerLink="/centro-pensamiento" class="btn-centro">
        Centro de Pensamiento
    </a>
  </div>

    <!-- Top Left Logo is handled by Navbar, but new image has a big logo in top left?
         The image 1 shows a BIG logo on the left. Let's add that as an overlay if wanted,
         or assume the previous identity section covers the logo need.
         Wait, image 1 has a large logo on the left. Let's add a placeholder for it in the hero. -->

      <div class="hero-overlays">
          <div class="hero-logo-large">
              <div class="shield-logo-hero-placeholder"><img src="assets/images/t3sti_5.png" alt="Testi logo" class="logo-giro"></div>
          </div>
          <div class="hero-bottom-right"><b>¿Qué es Testi?</b>
              <p class="strategy-text">Centro de pensamiento basado en la<br><b class="complex">complejidad</b> y la <b class="complex">gerencia cuántica</b></p>
          </div>
      </div>
  </section>


  <!-- IDENTITY SECTION -->
<section id="identity" class="identity-section">
    <div class="identity-box">

        <!-- Logo y contenedor dinámico -->
        <!-- Columna izquierda -->
        <div class="identity-izq">
            <!-- Logo t3sti -->
            @if (mostrarLogo) {
                <div id="logo-t3sti" class="logo-t3sti-clase">
                    <img src="assets/images/testi_6.png" alt="Testi logo">
                </div>
            }

            <!-- Contenedor de contenido dinámico -->
            @if (contenidoActual) {
                <div id="ctn-identity" class="ctn-identity-clase">
                    <!-- Aquí se inyecta la misión, valores y visión -->
                    <h2>{{ contenidoActual.titulo }}</h2>
                    <p>{{ contenidoActual.texto }}</p>
                </div>
            }
        </div>

        <!-- Lápiz dividido en zonas -->
        <!-- Columna derecha -->
        <div class="identity-der">
            <div class="lapiz-container">
                <!-- Imagen base opaca -->
                <img src="assets/images/lapiz-partes.png" alt="Lápiz testi opaco" class="lapiz-base">

                <!-- Zonas interactivas -->
                <!-- Corona - zona interactiva -->
                <div class="corona"
                    role="button" aria-label="Corona del Lápiz"
                    (mouseenter)="activarContenido('mision')"
                    (mouseleave)="restaurar()">
                    <img src="assets/images/corona.png" alt="Corona del Lápiz" class="highlights">
                </div>

                <!-- Líneas - zona interactiva -->
                <div class="lineas"
                    role="button" aria-label="Líneas del Lápiz"
                    (mouseenter)="activarContenido('valores')"
                    (mouseleave)="restaurar()">
                  <img src="assets/images/lineas.png" alt="Líneas del Lápiz" class="highlights">
                </div>

                <!-- Punta - zona interactiva -->
                <div class="punta"
                    role="button" aria-label="Punta del Lápiz"
                    (mouseenter)="activarContenido('vision')"
                    (mouseleave)="restaurar()">
                  <img src="assets/images/punta.png" alt="Punta del Lápiz" class="highlights">
                </div>
            </div>
        </div>

    </div>
</section>


  <!-- TEAM SECTION -->
  <section id="team" class="team-section">
      <h2 class="section-title">¿Quiénes somos?</h2>
      <div class="team-grid">
        <!-- Member 1 -->
        <div class="team-member">
          <div class="member-photo-circle">
            <!-- Placeholder for image -->
             <img src="assets/images/virginia-gonfiantini.png" alt="Virginia Gonfiantini">
          </div>
          <div class="member-info-overlay">
            <p>Posdoctorado como Visiting Scholar...</p>
            <button class="btn-gold"
                (click)="verMas({
                    nombre: 'VIRGINIA Gonfiantini',
                    titulo: 'Ph.D. en Filosofía',
                    foto: 'assets/images/virginia-tarjeta.png',
                    descripcion: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                })">
                Más información
              </button>
          </div>
          <h3>VIRGINIA Gonfiantini</h3>
          <p>Ph.D. en Pensamiento Complejo</p>
        </div>
        <!-- Member 2 -->
        <div class="team-member">
          <div class="member-photo-circle">
            <!-- Placeholder for image -->
             <img src="assets/images/carlos-maldonado.png" alt="Carlos Maldonado">
          </div>
          <div class="member-info-overlay">
            <p>Posdoctorado como Visiting Scholar...</p>
            <button class="btn-gold"
                (click)="verMas({
                    nombre: 'CARLOS MALDONADO',
                    titulo: 'Ph.D. en Filosofía',
                    foto: 'assets/images/carlos-tarjeta.png',
                    descripcion: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                })">
                Más información
              </button>

          </div>
          <h3>CARLOS EDUARDO MALDONADO</h3>
          <p>Ph.D. en Filosofía</p>
        </div>
        <!-- Member 3 -->
        <div class="team-member">
          <div class="member-photo-circle">
            <!-- Placeholder for image -->
              <img src="assets/images/felipe-rojas.png" alt="Felipe Rojas Toro">
          </div>
          <div class="member-info-overlay">
            <p>Posdoctorado como Visiting Scholar...</p>
           <button class="btn-gold"
              (click)="verMas({
                  nombre: 'FELIPE ROJAS TORO',
                  titulo: 'Ph.D. en Pensamiento Complejo',
                  foto: 'assets/images/felipe-tarjeta.png',
                  descripcion: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
              })">
              Más información
            </button>

          </div>
          <h3>FELIPE ROJAS TORO</h3>
          <p>Ph.D. en Pensamiento Complejo</p>
        </div>
      </div>

      <!-- PERFIL DETALLADO (Se muestra solo si mostrarPerfil es true) -->
    @if (mostrarPerfil) {
  <div class="modal-overlay" (click)="cerrarPerfil()">
    <div class="modal-slide-up" (click)="$event.stopPropagation()">
        <div class="modal-contenido">
            <div class="modal-texto">
                <h2>{{ miembroSeleccionado?.nombre }}</h2>
                <p>{{ miembroSeleccionado?.titulo }}</p>
                <div class="perfil-texto">
                   {{ miembroSeleccionado?.descripcion }}
                </div>
            </div>
          <div class="modal-imagen">
              <img [src]="miembroSeleccionado?.foto" alt="{{ miembroSeleccionado?.nombre }}">
          </div>
        </div>
      <button class="cerrar-x" (click)="cerrarPerfil()">
          <img src="assets/images/cerrar.png" alt="Cerrar">
      </button>
    </div>
  </div>
}
  </section>


  <!-- AREAS SECTION -->
  <section id="areas" class="areas-section">
      <div class="areas-header">
        <p>Cada caso requiere <span>servicios diferentes</span></p>
      </div>
      <div class="areas-content">
          <h2 class="gold-text">Áreas de práctica</h2>
          <div class="carousel">

              <!-- Flecha izquierda -->
              <button class="carousel-arrow-left" (click)="prevSlide()">&#10094;</button>

              <!-- Contenedor de slides -->
              <div class="carousel-track">
                  <div class="carousel-slide" [class.active]="currentSlide === 0">
                      <h3>Sostenibilidad y<br>Modelo Financiero</h3>
                  </div>
                  <div class="carousel-slide" [class.active]="currentSlide === 1">
                      <h3>Membresías<br>corporativas e<br>institucionales</h3>
                  </div>
                  <div class="carousel-slide" [class.active]="currentSlide === 2">
                      <h3>Fondos de<br>investigación<br>internacionales</h3>
                  </div>
                  <div class="carousel-slide" [class.active]="currentSlide === 3">
                      <h3>Consultoría<br>especializada</h3>
                  </div>
                  <div class="carousel-slide" [class.active]="currentSlide === 4">
                      <h3>Eventos pagos y<br>certificaciones</h3>
                  </div>
                  <div class="carousel-slide" [class.active]="currentSlide === 5">
                      <h3>Endowment o fondo<br>patrimonial a<br>mediano plazo</h3>
                  </div>
              </div>

              <!-- Flecha derecha -->
              <button class="carousel-arrow-right" (click)="nextSlide()">&#10095;</button>

          </div>
      </div>
  </section>


  <!-- SERVICES SECTION (Bubbles) -->
<section id="services" class="services-section">
    <h2 class="ps-title">Productos y Servicios</h2>

  <div class="bubbles-container">

      <div id="policy" class="bubble">
          Policy<br>Papers
          <div class="description-policy">
          Documentos de recomendación para gobiernos y empresas
          </div>
      </div>

      <div id="events" class="bubble">
          Eventos y<br>Conferencias
          <div class="description-events">
          Foros internacionales y seminarios especializadas
          </div>
      </div>

      <div id="reports" class="bubble">
          Informes<br>Estratégicos
          <div class="description-reports">
          Análisis anuales de tendencias globales y regionales
          </div>
      </div>

      <div id="lab" class="bubble">
          Laboratorio<br>de políticas
          <div class="description-lab">
          Creación con actores públicos y privados
          </div>
      </div>

      <div id="scenarios" class="bubble">
          Escenarios<br>Prospectivos
          <div class="description-scenarios">
          Simulación y narrativas de futuro
          </div>
      </div>

      <div id="publications" class="bubble">
          Publicaciones<br>Digitales
          <div class="description-publications">
          Boletines, visualizaciones de datos, podcast y blogs
          </div>
      </div>

       <div id="briefings" class="bubble">
          Briefings<br>Ejecutivos
          <div class="description-briefings">
          Reportes cortos para tomadores de decisiones
          </div>
      </div>

      <div id="consulting" class="bubble">
          Consultoria<br>Estrategica
          <div class="description-consulting">
          Reportes cortos para tomadores de decisiones
          </div>
      </div>

  </div>
</section>


  <!-- THINKING CENTER SECTION -->
  <section id="center" class="center-section">
      <div class="monje-final">
          <img class="monje-final-img" src="/assets/images/monje-final.png" alt="Monje Final">
      </div>
      <div class="cont-boton-cp">
          <a routerLink="/centro-pensamiento" class="boton-cp">Centro de Pensamiento</a>
      </div>
  </section>

</main>

